@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    margin: 0;
    padding: 0;
    background-color: #71613d;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    text-align: center;
    background-color: #95d0aa;
    color: #71613d;
    margin-top: 0;
    padding: 1.5%;
}

.title-row {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    color: #95d0aa;
}

.instructions {
    font-size: 18px;
}

#about {
    width: 30%;
    margin: 0 auto;
    color: #95d0aa;
}

.instructions-table {
    margin: 0 auto;
    width: 30%;
    color: #95d0aa;
}

@media only screen and (max-width: 600px) {
    #about {
        width: 80%;
    }

    .instructions-table {
        width: 80%;
    }
}

.instructions-num {
    font-size: 36px;
}

.instructions-text {
    padding-left: 20px;
}

.cover-row {
    display: flex;
    justify-content: center;
}

.cover-row img{
    width: 300px;
    height: 300px;
    cursor: pointer;
}

